<%= form_with url: landmark_search_path, local: true do |form| %>
    Find Landmark  <%=  form.text_field :name %>
    <%= form.submit "Search" %>
  <% end %>

  
<h2>All Landmarks: </h2>

<ul class="landmarks">
<% all_landmarks.each do |landmark|%>
    <h4><%= link_to landmark.name, landmark_path(landmark)%></h4>
<%end%>
</ul>
<br>

<br>
 
<h2><%= @current_user.username %>'s Landmarks:<h2>

<% if @current_user && @landmarks.empty? %>
    <p> Your Landmark's list is empty!</p> 
<% else %>
    <% @landmarks.each do |l|%>
        <h4><%= link_to l.name, landmark_path(l)%></h4>
    <%end%> 
<%end%>




<%= button_to "Profile", user_path(current_user), method: :get %>






