<label>Landmark:</label>

<h1><%=@landmark.name %></h1>
<p><%=@landmark.city %><p>
<p><%=@landmark.country %><p>
<h3><%=@landmark.description%></h3>

<%= button_to "Edit your Landmark", edit_landmark_path, method: :get %>

<%= button_to "Destroy Landmark", landmark_path(@landmark), method: :delete %>

<%= button_to "Profile", user_path(current_user), method: :get %>
