<label>Landmark:</label>

<h3>Landmark Name: <%=@landmark.name %></h3>
<h3>Landmark City: <%= @landmark.city %><h3>
<h3>Landmark Country: <%= @landmark.country %><h3>
<h3>Landmark Description: <%= @landmark.description%></h3>
<h3><%=%></h3>


<%= button_to "Edit your Landmark", edit_landmark_path, method: :get %>

<%= button_to "Destroy Landmark", landmark_path(@landmark), method: :delete %>

<%= button_to "create a review", new_landmark_review_path(@landmark), method: :get %>



<%= button_to "Profile", user_path(current_user), method: :get %>