<title>Landmark:</title>

<h1><%=@landmark.name %></h1>
<p><%=@landmark.city %><p>
<p><%=@landmark.country %><p>
<h3><%=@landmark.description%></h3>

<%= button_to "Destroy Landmark", delete_landmark_path(@landmark), method: :delete %>