
<h1><%= title %></h1>


<%= form_with url: path, method: method  do |f|%>
 <%= f.fields_for @landmark do |l|%>
    
    <label> Name:</label><br>
       <%= l.text_field  :name %><br>

    <label> city:</label><br>
    <%= l.text_field  :city%><br>

    <label>Country:</label><br>
    <%= l.text_field :country %><br>

    <label> Description: </label><br>
    <%= l.text_area :description %><br> 
<%end%>
#     <% if @review %>
#      <%=  f.fields_for @review do |r| %>
        
#         <label> Review: </label><br>
#         <%= r.text_area :review %><br> 
#      <%end%>
#    <%end%>
    <%= f.submit %>
<%end%>

<%= button_to "Profile", user_path(current_user), method: :get %>



